<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/saeed</property>
        <property name="connection.username">saeed</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory
        </property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.javax.cache.uri">ehcache-config.xml</property>

        <property name="hibernate.hbm2ddl.auto">validate</property>
        <!--        <property name="hibernate.connection.isolation">8</property>-->

        <mapping class="edu.popovd.entity.User"/>
        <mapping class="edu.popovd.entity.Company"/>
        <mapping class="edu.popovd.entity.Profile"/>
        <mapping class="edu.popovd.entity.Chat"/>
        <mapping class="edu.popovd.entity.UserChat"/>
        <mapping class="edu.popovd.entity.Programmer"/>
        <mapping class="edu.popovd.entity.Manager"/>
        <mapping class="edu.popovd.entity.Payment"/>
    </session-factory>
</hibernate-configuration>